# Home OS GRUB Configuration
# Copyright © 2025 Romy Rianata

set timeout=5
set default=0

menuentry "Home OS" {
    multiboot /boot/kernel.elf
    boot
}

menuentry "Home OS (Safe Mode)" {
    multiboot /boot/kernel.elf safemode
    boot
}

menuentry "Home OS (Debug Mode)" {
    multiboot /boot/kernel.elf debug
    boot
}
